---
import { JSDOM } from "jsdom";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
}>;

const { frontmatter } = Astro.props;
const contentHtml = await Astro.slots.render("default");
const dom = new JSDOM(contentHtml);
const document = dom.window.document;

// Пример итерации по всем тегам `p`
const paragraphs = [...document.querySelectorAll("p")].map(
  (p) => p.textContent
);

// Подсчёт количества слов
const wordCount = paragraphs
  .join(" ") // Объединяем все строки в одну
  .split(/\s+/) // Разбиваем по пробелам и другим разделителям
  .filter(Boolean).length; // Фильтруем пустые строки и считаем слова
---

<html>
  <head>
    <title>{frontmatter.title}</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>
      <h1>{paragraphs.length}</h1>
      <h1>Количество слов: {wordCount}</h1>
      <br />
        {paragraphs.map((paragraph) => <p>{paragraph}</p>)}
    </div>
  </body>
</html>
