---
// https://medium.com/fredwong-it/aws-s3-no-access-control-allow-origin-header-is-present-on-the-requested-resource-ce755b657931
// https://krpano.com/examples/?maps&version=122
import type { MarkdownLayoutProps } from "astro";
const title = "360&deg; photo";

type Props = MarkdownLayoutProps<{
  author: string;
  date: string;
  title: string;
  previewUrl: string;
  photoUrl: string;
  isDraft: boolean;
}>;

const { frontmatter } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content="360° Image - A-Frame" />
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
  </head>
  <body>
    <!-- <div class="z-10 grid grid-cols-2 place-content-between pl-5 pt-5 pr-5">
      <div class="flex justify-start align-top">
        <a class="mt-[-20px]" href="/">
          <span class="text-[#E1E1E1] text-[50px] font-mono">M.</span>
        </a>
      </div>
      <div class="flex justify-end align-top">
      </div>
    </div> -->
    <a-scene>
      <a-entity
        camera
        look-controls
        wasd-controls="enabled:false"
        position="0 0 0"></a-entity>
      <a-assets>
        <img
          id="skyTexture"
          src={frontmatter.photoUrl}
          crossorigin="anonymous"
        />
      </a-assets>
      <a-sky src="#skyTexture"></a-sky>
    </a-scene>
  </body>
</html>
