---
interface Props {
  description: string;
  url: string;
}

const { description, url } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MASLE::360</title>
    <meta name="description" content="360° photo" />
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-sky
        src={url}
        rotation="0 -130 0"></a-sky>

      <a-text
        font="kelsonsans"
        value={description}
        width="6"
        position="-2.5 1.25 -1.5"
        rotation="0 15 0"></a-text>
    </a-scene>
  </body>
</html>
