---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
}>;

const { frontmatter } = Astro.props;
---

<html>
  <head>
    <title>{frontmatter.title}</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="flex">
      <div class="flex-none w-14 h-14"></div>
      <div class="grow h-14">
          <h1 class="text-4xl pt-4">{frontmatter.title}</h1>
          <p class="text-sm pb-4">Author {frontmatter.author}</p>
        <article class="prose prose-xl prose-p:indent-9">
          <slot />
        </article>
        <p>Written on: {frontmatter.date}</p>
      </div>
      <div class="flex-none w-14 h-14"></div>
    </div>
  </body>
</html>
