---
// https://medium.com/fredwong-it/aws-s3-no-access-control-allow-origin-header-is-present-on-the-requested-resource-ce755b657931
// https://krpano.com/examples/?maps&version=122
import type { MarkdownLayoutProps } from "astro";
const title = "360&deg; photo";

type Props = MarkdownLayoutProps<{
  author: string;
  date: string;
  title: string;
  previewUrl: string;
  photoUrl: string;
  isDraft: boolean;
}>;

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core/index.min.css"
    />
    <script is:inline type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.js",
          "@photo-sphere-viewer/core": "https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core/index.module.js",
          "@photo-sphere-viewer/gyroscope-plugin": "https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/gyroscope-plugin@5/index.module.js"
        }
      }
    </script>
    <style>
      body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #000;
      }
      #viewer {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="viewer"></div>

    <script is:inline type="module" define:vars={{ frontmatter }}>
      import { Viewer } from "@photo-sphere-viewer/core";
      import { GyroscopePlugin } from "@photo-sphere-viewer/gyroscope-plugin";

      function getViewportSize() {
        const width = Math.max(
          document.documentElement.clientWidth || 0,
          window.innerWidth || 0
        );
        const height = Math.max(
          document.documentElement.clientHeight || 0,
          window.innerHeight || 0
        );

        return { width, height };
      }

      new Viewer({
        container: document.querySelector("#viewer"),
        panorama: frontmatter.photoUrl,
        caption: frontmatter.title,
        plugins: [GyroscopePlugin],
      });

      window.visualViewport.addEventListener("resize", () => {
        const viewport = getViewportSize();
        document.getElementById("viewer").style.width = `${viewport.width}px`;
        document.getElementById("viewer").style.height = `${viewport.height}px`;
      });
    </script>
  </body>
</html>
