---
import LayoutNew from "../layouts/LayoutNew.astro";
import { Image } from "astro:assets";
import Avatar2 from "../assets/avatar3.png";
// import Avatar from "../assets/avatar.svg";
// import Avatar from "../assets/avatar.png";
// import Avatar from "../assets/avatar-cropped.svg";
// import Avatar from "../assets/avatar_crop.png";
// import MyComponent from '../components/MyComponent.astro';
---

<LayoutNew title="MASLE">
  <main>
    <div class="container mx-auto flex justify-center pt-10">
      <Image class="max-w-[300px]" src={Avatar2} alt="descriptive text" />
    </div>
    <div class="flex justify-center">
      <div class="flex flex-col">
        <div class="text-[#E1E1E1] text-[45px] text-center font-mono xs:text-[32px]">Сергей Масленников</div>
        <div class="text-[#E1E1E1] text-center italic font-thin">Engineer, developer, photographer</div>
      </div>
    </div>
  </main>
</LayoutNew>

<!-- <div class="grid grid-cols-4 gap-4">
  <a href="#">
    <box
      class="text-[50px]  box-decoration-slice bg-gradient-to-r from-[#1E1E1E] text-white"
      >blog</box
    >
  </a>
  <a href="#">
    <box
      class="text-[50px]  box-decoration-slice bg-gradient-to-r from-[#1E1E1E] text-white"
      >photography</box
    ></a
  >
  <a href="#"
    ><box
      class="text-[50px]  box-decoration-slice bg-gradient-to-r from-[#1E1E1E] text-white"
      >stories</box
    ></a
  >
  <a href="#"
    ><box
      class="text-[50px]  box-decoration-slice bg-gradient-to-r from-[#1E1E1E] text-white"
      >360</box
    ></a
  >
  <a href="#"
    ><box
      class="text-[50px]  box-decoration-slice bg-gradient-to-r from-[#1E1E1E] text-white"
      >about</box
    ></a
  >
</div> -->
