---
import Layout from '../layouts/Layout.astro';
// import MyComponent from '../components/MyComponent.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex justify-center pt-2">
			<p class="text-3xl subpixel-antialiased">MASLE</p>
		</div>
		<!-- <MyComponent /> -->
	</main>
</Layout>
