---
import { Image } from "astro:assets";
import Burger from "../assets/burger.svg";
import BurgerClose from "../assets/burger-close.svg";
---

<style>
  .t-border {
    position: absolute;
  }
</style>
<div
  id="menu-window"
  hidden
  class="t-border right-0 top-0 backdrop-blur-md bg-[#E1E1E1]/30 shadow-md"
>
  <div class="gird grid-cols-2">
    <div class="flex flex-row w-full justify-end pt-5 pr-5">
      <div class="h-10 w-10 flex justify-center align-middle">
        <Image
          class="menu-button cursor-pointer"
          src={BurgerClose}
          alt="descriptive text"
        />
      </div>
    </div>
    <div>list</div>
  </div>
</div>
<div class="h-10 w-10 flex justify-center align-middle">
  <Image
    class="menu-button cursor-pointer"
    src={Burger}
    alt="descriptive text"
  />
</div>
<script>
  const buttons = document.querySelectorAll(".menu-button");
  const menuWindow = document.getElementById("menu-window");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      menuWindow!.hasAttribute("hidden")
        ? menuWindow!.removeAttribute("hidden")
        : menuWindow!.setAttribute("hidden", "");
    });
  });

  const hClientScreen = document.documentElement.clientHeight;
  menuWindow!.style.width = `${500}px`;
  menuWindow!.style.height = `${hClientScreen}px`;
</script>
