:root {
  --base-unit: clamp(28px, 5vh, 48px);
  --vertical-margin: 50px;
  --column-width: clamp(320px, 66vw, 640px);
  --column-gap: calc((100vw - var(--column-width)) / 2);
  --column-height: calc(100svh - var(--vertical-margin) * 2);
  --font-size: 1.5rem;
  --font-text: text, serif;
  --font-text-bold: 600;
  --font-heading: text, serif;
  --font-heading-bold: 600;
  --font-code: monospace;
  --border-radius: 6px;
  --color-paper: oklch(99% 0.01 120);
  --color-text: oklch(10% 0 0);
  --color-selection: oklch(60% 0.2 24 / 0.3);
  --color-spot: oklch(60% 0.2 24);
  --color-visited: oklch(55% 0.05 24);
  --color-focus: oklch(60% 0.2 24 / 0.1);
  --button-size: 50px;

  /* Code colors */
  --code-text: var(--color-text);
  --code-comment: slategray;
  --code-token-1: hsl(0, 90%, 35%);
  --code-token-2: hsl(300, 100%, 30%);
  --code-token-3: hsl(210, 100%, 40%);
  --code-token-4: hsl(140, 100%, 25%);
  --code-inserted: hsl(80, 90%, 30%);
  --code-deleted: hsl(327, 90%, 30%);
  --code-border: var(--color-line);
  --code-background: var(--color-paper);
}
